<!DOCTYPE html>
<html lang="en-us" ng-app="ss.ngIntlTelInput">
    <head>
        <meta charset="UTF-8">
        <title>ng-intl-tel-input by SmoshySmosh</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
        <link rel="stylesheet" href="bower_components/intl-tel-input/build/css/intlTelInput.css"/>
    </head>
    <body>
        <section class="page-header">
            <h1 class="project-name">ng-intl-tel-input</h1>
            <h2 class="project-tagline">AngularJS 1.4.x directive implementing intl-tel-input
            </h2>
            <a href="https://github.com/SmoshySmosh/ng-intl-tel-input" class="btn">View on GitHub</a>
            <a href="https://github.com/SmoshySmosh/ng-intl-tel-input/zipball/master" class="btn">Download .zip</a>
            <a href="https://github.com/SmoshySmosh/ng-intl-tel-input/tarball/master" class="btn">Download .tar.gz</a>
        </section>
        <section class="main-content">
            <h3>
                <a id="examples" class="anchor" href="#examples" aria-hidden="true">
                    <span aria-hidden="true" class="octicon octicon-link"></span>
                </a>
                Examples
            </h3>
            <p>
                Here are some basic examples of how to use the ng-intl-tel-input directive.
            </p>

            <h4>
                <a id="default-usage" class="anchor" href="#default-usage" aria-hidden="true">
                    <span aria-hidden="true" class="octicon octicon-link"></span>
                </a>
                Default Usage
            </h4>
            <p>
                <code>
                    &lt;input type=&quot;text&quot; name=&quot;tel&quot; ng-model=&quot;tel&quot; ng-intl-tel-input&gt;
                </code>

            </p>
            <p>
                <form name="form">
                    <div ng-class="{'has-error': form.tel.$invalid && form.tel.$touched, 'has-success': form.tel.$valid}">
                        <input type="text" id="tel" name="tel" ng-model="tel" ng-intl-tel-input>
                        <span ng-show="form.tel.$pristine && form.tel.$untouched && !form.tel.$touched">Please type a telephone number.</span>
                        <span ng-show="form.tel.$invalid && form.tel.$touched">The phone number entered is invalid.</span>
                        <span ng-show="form.tel.$valid && form.tel.$touched">The phone number entered is valid.</span>
                    </div>
                </form>
            </p>

            <h4>
                <a id="default-country" class="anchor" href="#default-country" aria-hidden="true">
                    <span aria-hidden="true" class="octicon octicon-link"></span>
                </a>
                Default Country
            </h4>
            <p>
                <code>
                    &lt;input type=&quot;text&quot; name=&quot;tel&quot; ng-model=&quot;tel2&quot; ng-intl-tel-input ng-intl-tel-input-options=&quot;{initialCountry: 'gb'}&quot;&gt;
                </code>
            </p>
            <p>
                <form name="form2">
                    <div ng-class="{'has-error': form2.tel.$invalid && form2.tel.$touched, 'has-success': form2.tel.$valid}">
                        <input type="text" class="form-control" id="tel-dc" name="tel" ng-model="tel2" ng-intl-tel-input ng-intl-tel-input-options="{initialCountry: 'gb'}">
                        <span ng-show="form2.tel.$pristine && form2.tel.$untouched && !form2.tel.$touched">Please type a telephone number.</span>
                        <span ng-show="form2.tel.$invalid && form2.tel.$touched">The phone number entered is invalid.</span>
                        <span ng-show="form2.tel.$valid && form2.tel.$touched">The phone number entered is valid.</span>
                    </div>
                </p>
                <footer class="site-footer">
                    <span class="site-footer-owner">
                        <a href="https://github.com/SmoshySmosh/ng-intl-tel-input">ng-intl-tel-input</a>
                        is maintained by
                        <a href="https://github.com/SmoshySmosh">SmoshySmosh</a>.</span>
                </footer>
            </section>
            <script src="bower_components/jquery/dist/jquery.js"></script>
            <script src="bower_components/intl-tel-input/build/js/intlTelInput.js"></script>
            <script src="bower_components/intl-tel-input/build/js/utils.js"></script>
            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/ng-intl-tel-input/dist/ng-intl-tel-input.min.js"></script>
        </body>
    </html>
